
/* website */
@media screen and (max-width: 2000px) {
  .column {
    float:left;
    width:30%;
  }
  
  .step4 .ofCard {
    width:59%;
    padding: 15px 15px 15px 15px;
    border: 1px solid rgb(187, 179, 179);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    position:relative;
    font-family: 'Angsana New';
    font-size: 20px;
    left:10%;
    bottom:30px;  
  }
  
  
  .review .card {
    width:90%;
    padding: 15px 15px 15px 15px;
    border: 1px solid rgb(187, 179, 179);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    position:relative;
    font-family: 'Angsana New';
    font-size: 20px;
    left:0%;
    bottom:-37px;  
  }
  
  .step4 .card {
    width:90%;
    padding: 15px 15px 15px 15px;
    border: 1px solid rgb(187, 179, 179);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    position:relative;
    font-family: 'Angsana New';
    font-size: 20px;
    left:10%;
    bottom:-37px;  
  }
  
   input {
   
    padding-left:8px;
  }
  
  
  
  
  .firstname:focus + span:after { 
    color:rgb(255, 0, 0);
    padding: left 5px;
    content: 'กรุณากรอกชื่อจริงเป็นภาษาไทย'
  }
  
  .firstname:valid + span:after { 
    content: '✓';
    color : rgb(0, 0, 0);
    padding-left: 5px;
  }
  
  
  .lastname:focus + span:after { 
    color:rgb(255, 0, 0);
    padding: left 5px;
    content: 'กรุณากรอกนามสกุลเป็นภาษาไทย'
  }
  
  .lastname:valid + span:after { 
    content: '✓';
    color : rgb(0, 0, 0);
    padding-left: 5px;
  }
  
  
  .phone:focus + span:after { 
    color:rgb(255, 0, 0);
    padding: left 5px;
    content: 'หมายเลขโทรศัพท์ต้องขึ้นต้นด้วย 06 08 หรือ 09 เท่านั้น'
  }
  .phone:valid + span:after { 
    content: '✓';
    color : rgb(0, 0, 0);
    padding-left: 5px;
  }
  
  .email:focus + span:after { 
    color:rgb(255, 0, 0);
    padding: left 5px;
    content: 'กรุณากรอกอีเมลให้ถูกต้อง'
  }
  
  .email:valid + span:after {
    content: '✓';
    color : rgb(0, 0, 0);
    padding-left: 5px;
  }
  
  .nextpay {
    margin: 0;
    position: absolute;
    top: 38%;
    left:76%;
  }
  
  .headpage4 {
    font-family: 'TH sarabun New';
    position: relative;
    left:5%;
    bottom:-20px;
  }
  
  .addpass {
    margin: 0;
    position: absolute;
    top: 38%;
    left:60%;
  }
  
  .nextpay button {
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #DC3545;
    border: none;
    border-radius: 2px;
    display: inline-block;;
    
  }
  
  
  .nextpay .button:hover {background-color: #ec4242f2}
  
  .nextpay .button:active {
    background-color: #ff0000;
    transform: translateY(4px);
  }
  .addpass button {
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #DC3545;
    border: none;
    border-radius: 2px;
    display: inline-block;
    
    
  }
  
  
  .addpass .button:hover {background-color: #ec4242f2}
  
  .addpass .button:active {
    background-color: #ff0000;
    transform: translateY(4px);
  }
  
  .step4 .button {
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
  }
  
  .step4 .button:hover {background-color: #3e8e41}
  
  .step4 .button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }
  
  }
/* mobile */
@media screen and (max-width: 600px) {
  .column {
    float:left;
    width:60%;
  }
  
  .step4 .ofCard {
    width:150%;
    padding: 15px 15px 15px 15px;
    border: 1px solid rgb(187, 179, 179);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    position:relative;
    font-family: 'Angsana New';
    font-size: 15px;
    left:5%;
    bottom:-700px;  
  }
  
  
  .review .card {
    width:90%;
    padding: 15px 15px 15px 15px;
    border: 1px solid rgb(187, 179, 179);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    position:absolute;
    font-family: 'Angsana New';
    font-size: 20px;
    left:6%;
    bottom:1150px;  
  }
  
  .step4 .card {
    width:90%;
    padding: 15px 15px 15px 15px;
    border: 1px solid rgb(187, 179, 179);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    position:absolute;
    font-family: 'Angsana New';
    font-size: 16px;
    left:6%;
    bottom:825px;  
  }
  
   input {
   
    padding-left:8px;
  }
  
  
  
  
  .firstname:focus + span:after { 
    color:rgb(255, 0, 0);
    padding: left 5px;
    content: 'กรุณากรอกชื่อจริงเป็นภาษาไทย'
  }
  
  .firstname:valid + span:after { 
    content: '✓';
    color : rgb(0, 0, 0);
    padding-left: 5px;
  }
  
  
  .lastname:focus + span:after { 
    color:rgb(255, 0, 0);
    padding: left 5px;
    content: 'กรุณากรอกนามสกุลเป็นภาษาไทย'
  }
  
  .lastname:valid + span:after { 
    content: '✓';
    color : rgb(0, 0, 0);
    padding-left: 5px;
  }
  
  
  .phone:focus + span:after { 
    color:rgb(255, 0, 0);
    padding: left 5px;
    content: 'หมายเลขโทรศัพท์ต้องขึ้นต้นด้วย 06 08 หรือ 09 เท่านั้น'
  }
  .phone:valid + span:after { 
    content: '✓';
    color : rgb(0, 0, 0);
    padding-left: 5px;
  }
  
  .email:focus + span:after { 
    color:rgb(255, 0, 0);
    padding: left 5px;
    content: 'กรุณากรอกอีเมลให้ถูกต้อง'
  }
  
  .email:valid + span:after {
    content: '✓';
    color : rgb(0, 0, 0);
    padding-left: 5px;
  }
  
  .nextpay {
    margin: 0;
    position: absolute;
    top:52%;
    left:55%;
  }
  
  
  .addpass {
    margin: 0;
    position: absolute;
    top:52%;
    left:0%;
  }
  
  .nextpay button {
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #DC3545;
    border: none;
    border-radius: 2px;
    display: inline-block;;
    
  }
  
  
  .nextpay .button:hover {background-color: #ec4242f2}
  
  .nextpay .button:active {
    background-color: #ff0000;
    transform: translateY(4px);
  }
  .addpass button {
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #DC3545;
    border: none;
    border-radius: 2px;
    display: inline-block;
    
    
  }
  
  
  .addpass .button:hover {background-color: #ec4242f2}
  
  .addpass .button:active {
    background-color: #ff0000;
    transform: translateY(4px);
  }
  
  .step4 .button {
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
  }
  
  .step4 .button:hover {background-color: #3e8e41}
  
  .step4 .button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }
  
  }